<div style="width: 100%; height: 400px;">
  <!-- Gráfico de Gênero da Autoria -->
  <canvas id="canvasGeneroAutoria" width="100" height="100"></canvas>



  <!-- Gráfico de Gênero -->
  <canvas id="canvasGenero" width="400" height="400"></canvas>

  <!-- Gráfico de Preço Médio -->
  <canvas id="canvasPreco" width="400" height="400"></canvas>

  <!-- Gráfico de Quantidade Total de Livros -->
  <canvas id="canvasQuantidade" width="400" height="400"></canvas>

  <!-- Gráfico de Total de Livros vs Livros Reservados -->
<canvas id="canvasLivrosReservados" width="400" height="300"></canvas>

  <!-- Gráfico de Livros Totais vs Livros Reservados donut -->
  <canvas id="canvasLivrosReservadosDonut" width="400" height="400"></canvas>



</div>

<!-- <p>Componente de gráficos carregado!</p>
<p>Total de livros: {{ totalLivros }}</p>
<p>Livros reservados: {{ livrosReservados }}</p> -->


