<div style="display: block;">
  <!-- Gráfico de Gênero da Autoria -->
  <canvas id="canvasGeneroAutoria" width="400" height="400"></canvas>

  <!-- Gráfico de Gênero -->
  <canvas id="canvasGenero" width="400" height="400"></canvas>

  <!-- Gráfico de Preço Médio -->
  <canvas id="canvasPreco" width="400" height="400"></canvas>

  <!-- Gráfico de Quantidade Total de Livros -->
  <canvas id="canvasQuantidade" width="400" height="400"></canvas>

  <!-- Gráfico de Total de Livros vs Livros Reservados -->
  <canvas id="canvasLivrosReservados" width="400" height="400"></canvas>
</div>
