canvas {
  max-width: 100%; /* Garante que o gráfico ocupe 100% da largura disponível */
  height: auto;    /* A altura será ajustada automaticamente para manter a proporção */
  /* width: 50%; */
  /* height: 50px; */
}

.grafico-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  max-width: 100%;
}

.grafico-container canvas {
  width: 100%;
  max-width: 400px;  /* Limite de largura para gráficos */
  height: auto;
  max-height: 400px; /* Limite de altura para gráficos */
}

@media (max-width: 768px) {
  .grafico-container canvas {
    max-width: 100%;  /* Em telas menores, ocupar 100% da largura */
    height: auto;
    max-height: 300px; /* Limite de altura em telas pequenas */
  }
}
