<div class="card mb-4">
  <div class="card-header">
    Catálogo completo
  </div>

  <div class="datatable-top mb-3 ms-3 mt-3">
    <div class="datatable-search">
        <input [(ngModel)]="filters.titulo" (input)="onSearch($event)" class="datatable-input" placeholder="Buscar livros..." type="search" title="Search within table" aria-controls="datatablesSimple">
    </div>

    <div class="datatable-dropdown">
        <label>
            <select class="datatable-selector" [(ngModel)]="pageSize" (change)="changePageSize(pageSize)">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
            </select>
        </label>
    </div>
  </div>

  <!-- Tabela com contêiner para rolagem -->
  <div class="datatable-container ms-3">
    <div class="datatable-table-wrapper">
      <table class="datatable-table w-100">

        <thead>
          <tr>
            <th>Título</th>
            <th>Autoria</th>
            <!-- <th>Gênero</th> -->
            <th>Preço</th>
            <th>Editora</th>
            <!-- <th>Condição</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livro of displayedBooks">
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autoria }}</td>
            <!-- <td>{{ livro.genero.value }}</td> -->
            <td>{{ livro.preco }}</td>
            <td>{{ livro.editora }}</td>
            <!-- <td>{{ livro.condicao }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Rodapé com informações de paginação -->
  <div class="datatable-bottom ms-3 mb-3">
    <div class="datatable-info">
      Livros {{ firstItem }} a {{ lastItem }} de {{ totalEntries }}
    </div>

    <nav class="datatable-pagination">
      <ul class="datatable-pagination-list">
        <li class="datatable-pagination-list-item" [class.datatable-disabled]="currentPage === 1">
          <a (click)="changePage(currentPage - 1)" class="datatable-pagination-list-item-link">‹</a>
        </li>
        <li class="datatable-pagination-list-item" *ngFor="let page of pageNumbers()" [class.datatable-active]="page === currentPage">
          <a (click)="changePage(page)" class="datatable-pagination-list-item-link">{{ page }}</a>
        </li>
        <li class="datatable-pagination-list-item" [class.datatable-disabled]="currentPage === totalPages()">
          <a (click)="changePage(currentPage + 1)" class="datatable-pagination-list-item-link">›</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
