<!-- home.component.html -->

<!-- Cabecalho -->
<app-cabecalho></app-cabecalho>

<!-- Carrossel -->
<app-carrossel></app-carrossel>

<!-- Info -->
<app-info></app-info>

<!-- Gêneros -->
<!-- <app-generos></app-generos> -->

<!-- Destaques -->
<app-destaques></app-destaques>

<!-- FAQ -->
<app-faq></app-faq>

<!-- <a href="https://wa.me/55[NUMERO_DO_SEU_WHATSAPP]?text=Olá,%20tenho%20uma%20dúvida%20sobre%20o%20livro." 
   target="_blank" 
   rel="noopener noreferrer" 
   class="position-fixed bottom-0 end-0 mb-3 me-3 z-index-1050 text-white rounded-circle d-flex align-items-center justify-content-center shadow-lg p-1"
   aria-label="Contato via WhatsApp">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-100" style="max-width: 50px; height: auto;" />
</a> -->

<!-- Rodapé -->
<app-rodape></app-rodape>
