<!-- catalogo.component.html -->
<!-- Cabecalho -->
<app-cabecalho></app-cabecalho>

<!-- Banner -->
<div class="bg-custom">
    <div class="container text-center">
        <h2 class="display-5 ">Catálogo</h2>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row g-5 d-flex align-items-stretch">
            <!-- Filtros -->
            <div class="col-md-3 col-sm-12 d-none d-md-block">
                <div class="card-filtros">
                    <h3 class="card-title">Buscar por:</h3>

                    <!-- Filtro de Preço -->
                    <div class="filter-section mb-4">
                        <h4>PREÇO</h4>
                        <ul class="list-unstyled">
                            <li *ngFor="let preco of filtrosPreco">
                                <span (click)="filtrar(preco.faixa, $event)" class="clickable">{{ preco.faixa }} ({{ preco.quantidade }})</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Filtro de Editora -->
                    <div class="filter-section mb-4">
                        <h4>EDITORA</h4>
                        <ul class="list-unstyled">
                            <li *ngFor="let editora of filtrosEditora">
                                <span (click)="filtrar(editora.editora, $event)" class="clickable">{{ editora.editora }} ({{ editora.quantidade }})</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Filtro de Condição -->
                    <div class="filter-section mb-4">
                        <h4>CONDIÇÃO</h4>
                        <ul class="list-unstyled">
                            <li *ngFor="let condicao of filtrosCondicao">
                                <span (click)="filtrar(condicao.condicao, $event)" class="clickable">{{ condicao.condicao | titlecase }} ({{ condicao.quantidade }})</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Conteúdo Principal (Livros) -->
            <main class="col-md-9">
                <div>
                    <!-- Header do Catálogo -->
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="text-muted mb-0">Mostrando {{ (paginaAtual - 1) * itensPorPagina + 1 }}-{{ (paginaAtual * itensPorPagina) > livrosFiltrados.length ? livrosFiltrados.length : paginaAtual * itensPorPagina }} de {{ livrosFiltrados.length }} resultados</p>
                        <div class="d-flex align-items-center">
                            <select class="form-select form-select-sm" aria-label="Ordenar por">
                                <option selected>Todos</option>
                                <option>Novidades</option>
                                <option>Disponíveis</option>
                                <option>Reservados</option>
                                <option>Preço: menor para maior</option>
                                <option>Preço: maior para menor</option>
                            </select>
                        </div>
                    </div>

                    <hr class="mt-2 mb-4" />

                    <!-- Conteúdo do Catálogo -->
                    <div class="col-12">
                        <div class="row pb-3">
                            <div *ngFor="let livro of livrosParaExibir" class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="card product-item border-0 mb-4">
                                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                        <img class="img-fluid w-100" [src]="livro.imagem" [alt]="livro.titulo" />
                                    </div>
                                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                        <h6 class="text-truncate mb-3">{{ livro.titulo }}</h6>
                                        <h6 class="text-truncate mb-3 text-muted">{{ livro.autoria }}</h6>
                                        <div class="d-flex justify-content-center">
                                            <h6>{{ livro.preco }}</h6>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between bg-light border">
                                        <button (click)="abrirFormularioReserva(livro)" class="btn btn-sm text-dark p-0" *ngIf="!livro.reservado">
                                            <i class="fas fa-heart text-primary"></i> Reservar
                                        </button>
                                        <span *ngIf="livro.reservado" class="text-danger">
                                            Reservado
                                        </span>
                                        <a [routerLink]="['/demo']" class="btn btn-sm text-dark p-0">
                                            <i class="fas fa-eye text-primary"></i> Detalhes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Paginação -->
                        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-2">
                            <ul class="pagination pagination-sm">
                                <li class="page-item" [class.disabled]="paginaAtual === 1">
                                    <button class="page-link" (click)="alterarPagina(paginaAtual - 1)" aria-label="Previous">
                                        <i class="bi bi-arrow-left"></i>
                                    </button>
                                </li>

                                <!-- Paginação dinâmica -->
                                <li class="page-item" *ngFor="let page of [].constructor(totalDePaginas); let i = index">
                                    <button class="page-link" (click)="alterarPagina(i + 1)" [class.active]="paginaAtual === i + 1">{{ i + 1 }}</button>
                                </li>

                                <li class="page-item" [class.disabled]="paginaAtual === totalDePaginas">
                                    <button class="page-link" (click)="alterarPagina(paginaAtual + 1)" aria-label="Next">
                                        <i class="bi bi-arrow-right"></i>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Modal de reserva -->
                        <div class="overlay" *ngIf="mostrarFormulario">
                            <div class="modal">
                                <button class="fechar-btn" (click)="fecharFormulario()"
                                    aria-label="Fechar modal">&times;</button>

                                <h5 class="modal-titulo">Reserve já seu exemplar!</h5>


                                <form [formGroup]="form" (ngSubmit)="reservarLivro(form.getRawValue())">
                                    <label class="form-label">Nome:
                                        <input formControlName="nome" placeholder="Seu nome">
                                    </label>

                                    <div *ngIf="form.get('nome')?.hasError('pattern')" class="mensagem-erro">
                                        O nome deve conter apenas letras.
                                    </div>

                                    <label class="form-label">WhatsApp:
                                        <input type="text" formControlName="whatsapp" (input)="formatarTelefone()">
                                    </label>

                                    <div *ngIf="form.get('whatsapp')?.hasError('telefoneInvalido')"
                                        class="mensagem-erro">
                                        O número de WhatsApp deve ter 11 dígitos (com DDD).
                                    </div>

                                    <label class="form-label">Livro:
                                        <input formControlName="livro" readonly>
                                    </label>

                                    <label class="form-label">Local de entrega:
                                        <select formControlName="entrega">
                                            <!-- <option value="">Escolha</option> -->
                                            <option value="Canela">Canela</option>
                                            <option value="Ondina">Ondina</option>
                                        </select>
                                    </label>

                                    <label class="form-label">Data:
                                        <input type="date" formControlName="data">
                                    </label>

                                    <div *ngIf="form.get('data')?.hasError('fimDeSemana')" class="mensagem-erro">
                                        Não é permitido agendar para sábados ou domingos.
                                    </div>

                                    <label class="form-label">Horário:
                                        <input type="time" formControlName="horario">
                                    </label>

                                    <div *ngIf="form.get('horario')?.hasError('horarioInvalido')" class="mensagem-erro">
                                        O horário deve ser entre 18:30 e 22:00.
                                    </div>

                                    <div class="checkbox-terms">
                                        <input type="checkbox" id="aceite" formControlName="aceite">
                                        <label for="aceite" class="checkbox-label">
                                            Aceito os <a
                                                href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm"
                                                target="_blank" rel="noopener noreferrer">termos & condições</a>.
                                        </label>
                                    </div>

                                    <button type="submit" [disabled]="form.invalid" class="botao-reservar">
                                        Reservar
                                    </button>
                                </form>
                            </div>
                        </div>

<!-- <a href="https://wa.me/55[NUMERO_DO_SEU_WHATSAPP]?text=Olá,%20tenho%20uma%20dúvida%20sobre%20o%20livro." 
   target="_blank" 
   rel="noopener noreferrer" 
   class="position-fixed bottom-0 end-0 mb-3 me-3 z-index-1050 text-white rounded-circle d-flex align-items-center justify-content-center shadow-lg p-1"
   aria-label="Contato via WhatsApp">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-100" style="max-width: 50px; height: auto;" />
</a> -->

<app-rodape></app-rodape>
