<!-- catalogo.component.html -->
<!-- Cabecalho -->
<app-cabecalho></app-cabecalho>

<!-- Banner -->
<div class="bg-custom text-white py-5">
    <div class="container text-center">
        <h2 class="display-4 font-weight-bold mb-4">Catálogo</h2>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row g-5 d-flex align-items-stretch">

            <!-- Filtros -->
            <div class="col-md-3 col-sm-12">
                <div class="card p-3">
                    <h3 class="card-title">Filtrar por:</h3>

                    <!-- Filtro de Preço -->
                    <div class="filter-section mb-4">
                        <h4>PREÇO</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Menos de R$20 (35)</a></li>
                            <li><a href="#">R$20 - R$30 (40)</a></li>
                            <li><a href="#">R$30 - R$40 (22)</a></li>
                            <li><a href="#">R$40 - R$50 (5)</a></li>
                        </ul>
                    </div>

                    <!-- Filtro de Editora -->
                    <div class="filter-section mb-4">
                        <h4>EDITORA</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Morro Branco (2)</a></li>
                            <li><a href="#">Editora 34 (66)</a></li>
                            <li><a href="#">Suma (7)</a></li>
                            <li><a href="#">Companhia das Letras (100)</a></li>
                        </ul>
                    </div>

                    <!-- Filtro de Condição -->
                    <div class="filter-section mb-4">
                        <h4>CONDIÇÃO</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Novo (99)</a></li>
                            <li><a href="#">Ótimo (27)</a></li>
                            <li><a href="#">Bom (15)</a></li>
                            <li><a href="#">Regular (1)</a></li>
                        </ul>
                    </div>

                    <!-- Botão de Aplicar Filtros -->
                    <button class="btn btn-dark w-100 py-2">Aplicar Filtros</button>
                </div>
            </div>

            <!-- Conteúdo Principal (Livros) -->
            <main class="col-md-9">
                <div class="row my-5">
                    <!-- Catalog Header -->
                    <div class="bg-white p-4 rounded shadow-sm mb-6 d-flex justify-content-between align-items-center">
                        <p class="text-muted mb-2">Mostrando {{ (paginaAtual - 1) * itensPorPagina + 1 }}-{{ (paginaAtual * itensPorPagina) > livrosFiltrados.length ? livrosFiltrados.length : paginaAtual * itensPorPagina }} de {{ livrosFiltrados.length }} resultados</p>
                        <div class="d-flex align-items-center">
                            <select class="form-select" aria-label="Ordenar por">
                                <option selected>Todos</option>
                                <option>Novidades</option>
                                <option>Preço: menor para maior</option>
                                <option>Preço: maior para menor</option>
                            </select>
                        </div>
                    </div>

                    <!-- Catalogo Content -->
                    <div class="col-12">
                        <div class="container-fluid pt-1">
                            <div class="row px-xl-5 pb-3">
                                <div *ngFor="let livro of livrosParaExibir" class="col-lg-3 col-md-4 col-sm-6 pb-4">
                                    <div class="card product-item border-0 mb-4">
                                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                            <img class="img-fluid w-100" [src]="livro.imagem" [alt]="livro.titulo" />
                                        </div>
                                        <div class="card-body text-center p-0 pt-4 pb-3">
                                            <h6 class="text-truncate mb-3">{{ livro.titulo }}</h6>
                                            <h6 class="text-truncate mb-3 text-muted">{{ livro.autoria }}</h6>
                                            <div class="d-flex justify-content-center">
                                                <h6>{{ livro.preco }}</h6>
                                                <h6 class="text-muted ms-2"><del>12,00</del></h6>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between bg-light border">
                                            <button (click)="abrirFormularioReserva(livro)" class="btn btn-sm text-dark p-0" *ngIf="!livro.reservado">
                                                <i class="fas fa-heart"></i> Reservar
                                            </button>
                                            <span *ngIf="livro.reservado" class="text-danger">
                                                <i class="fas fa-heart"></i> Reservado
                                            </span>
                                            <a href="#" class="btn btn-sm text-dark p-0">
                                                <i class="fas fa-shopping-cart text-primary"></i> Carrinho
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Paginação -->
                        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
                            <ul class="pagination">
                                <li class="page-item" [class.disabled]="paginaAtual === 1">
                                    <a class="page-link" href="#" (click)="alterarPagina(paginaAtual - 1)" aria-label="Previous">
                                        <i class="icon icon-arrow-left"></i>
                                    </a>
                                </li>

                                <!-- Paginação dinâmica -->
                                <li class="page-item" *ngFor="let page of [].constructor(totalDePaginas); let i = index">
                                    <a class="page-link" href="#" (click)="alterarPagina(i + 1)" [class.active]="paginaAtual === i + 1">{{ i + 1 }}</a>
                                </li>

                                <li class="page-item" [class.disabled]="paginaAtual === totalDePaginas">
                                    <a class="page-link" href="#" (click)="alterarPagina(paginaAtual + 1)" aria-label="Next">
                                        <i class="icon icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<app-rodape></app-rodape>
