<h2 class="container d-flex flex-column flex-md-row justify-content-between my-3 my-xl-5 align-items-center">
  <span class="me-5">Novidades</span>
  <div class="mb-4 mb-md-0">
    <p class="m-0 d-flex flex-wrap justify-content-end"> <!-- Alinha os filtros à direita -->
      <!-- Botão de 'Todos' que agora mostra apenas livros com novidade: true -->
      <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('*', $event)"
        [ngClass]="{ 'active': filtroAtivo === '*' }">Todos</a>

      <!-- <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('classico', $event)"
        [ngClass]="{ 'active': filtroAtivo === 'classico' }">Clássicos</a> -->

      <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('suspense', $event)"
        [ngClass]="{ 'active': filtroAtivo === 'suspense' }">Suspense</a>

      <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('fantasia', $event)"
        [ngClass]="{ 'active': filtroAtivo === 'fantasia' }">Fantasia</a>

      <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('ficcao-cientifica', $event)"
        [ngClass]="{ 'active': filtroAtivo === 'ficcao-cientifica' }">Sci-Fi</a>

      <!-- <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('contemporaneo', $event)"
        [ngClass]="{ 'active': filtroAtivo === 'contemporaneo'}">Contemporâneo</a> -->

      <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" (click)="filtrar('terror', $event)"
        [ngClass]="{ 'active': filtroAtivo === 'terror'}">Terror</a>

    </p>
  </div>
</h2>


<div class="container-fluid pt-1">
  <div class="row px-xl-5 pb-3">
    <div *ngFor="let livro of livrosFiltrados" class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" [src]="livro.imagem" [alt]="livro.titulo" />
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">{{ livro.titulo }}</h6>
          <h6 class="text-truncate mb-3 text-muted">{{ livro.autoria }}</h6>
          <div class="d-flex justify-content-center">
            <h6>{{ livro.preco }}</h6>
            <!-- <h6 class="text-muted ml-2"><del>12,00</del></h6> -->
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">

          <button (click)="abrirFormularioReserva(livro)" class="btn btn-sm text-dark p-0" *ngIf="!livro.reservado">
            <i class="fas fa-heart text-primary"></i> Reservar
          </button>
          <span *ngIf="livro.reservado" class="text-danger">
            <!-- <i class="fas fa-heart text-primary"></i> -->
            Reservado
          </span>

          <a [routerLink]="['/demo']" class="btn btn-sm text-dark p-0">
            <i class="fas fa-eye text-primary"></i> Detalhes
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3">
  <a [routerLink]="['/catalogo']" class="catalogo-link">Ver catálogo completo</a>
  <!-- <a href="/catalogo" class="catalogo-link">Ver catálogo completo</a> -->
</div>
<!-- 
<button (click)="navegarParaCatalogo()">Ver catálogo completo</button> -->


<!-- <p *ngIf="mostrarFormulario" style="color: red;">Modal deve estar aparecendo!</p> -->

<!-- Modal de reserva -->
<div class="overlay" *ngIf="mostrarFormulario">
  <div class="modal">
    <button class="fechar-btn" (click)="fecharFormulario()" aria-label="Fechar modal">&times;</button>

    <h5 class="modal-titulo">Reserve já seu exemplar!</h5>


    <form [formGroup]="form" (ngSubmit)="reservarLivro(form.getRawValue())">
      <label class="form-label">Nome:
        <input formControlName="nome" placeholder="Seu nome">
      </label>

      <div *ngIf="form.get('nome')?.hasError('pattern')" class="mensagem-erro">
        O nome deve conter apenas letras.
      </div>

      <label class="form-label">WhatsApp:
        <input type="text" formControlName="whatsapp" (input)="formatarTelefone()">
      </label>

      <div *ngIf="form.get('whatsapp')?.hasError('telefoneInvalido')" class="mensagem-erro">
        O número de WhatsApp deve ter 11 dígitos (com DDD).
      </div>

      <label class="form-label">Livro:
        <input formControlName="livro" readonly>
      </label>

      <label class="form-label">Local de entrega:
        <select formControlName="entrega">
          <!-- <option value="">Escolha</option> -->
          <option value="Canela">Canela</option>
          <option value="Ondina">Ondina</option>
        </select>
      </label>

      <label class="form-label">Data:
        <input type="date" formControlName="data">
      </label>

      <div *ngIf="form.get('data')?.hasError('fimDeSemana')" class="mensagem-erro">
        Não é permitido agendar para sábados ou domingos.
      </div>

      <label class="form-label">Horário:
        <input type="time" formControlName="horario">
      </label>

      <div *ngIf="form.get('horario')?.hasError('horarioInvalido')" class="mensagem-erro">
        O horário deve ser entre 18:30 e 22:00.
      </div>

      <div class="checkbox-terms">
        <input type="checkbox" id="aceite" formControlName="aceite">
        <label for="aceite" class="checkbox-label">
          Aceito os <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank"
            rel="noopener noreferrer">termos & condições</a>.
        </label>
      </div>

      <button type="submit" [disabled]="form.invalid" class="botao-reservar">
        Reservar
      </button>
    </form>

  </div>
</div>