<h2 class="container d-flex flex-column flex-md-row justify-content-between my-3 my-xl-5 align-items-center">
    <span class="me-5">Novidades</span> <!-- Aumenta o espaço à direita do span -->
    <div class="mb-4 mb-md-0 ms-5"> <!-- Aumenta o espaço à esquerda da div -->
        <p class="m-0 d-flex flex-wrap justify-content-center">
            <a href="#" class="filter-button me-4 mb-2 mb-md-0 active fs-6" data-filter="*">Todos</a>
            <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" data-filter=".romance">Romance</a>
            <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" data-filter=".misterio">Mistério</a>
            <a href="#" class="filter-button me-4 mb-2 mb-md-0 fs-6" data-filter=".fantasia">Fantasia</a>
        </p>
    </div>
</h2>

<!-- Products Start -->
<div class="container-fluid pt-1">
    <div class="row px-xl-5 pb-3">

        <section [ngClass]="livro().genero.id">
            <div class="imagem">
                <img [src]="livro().imagem" [alt]="livro().titulo">
            </div>
            <div class="info-livro">
                <h6 class="texto-h2">{{ livro().titulo }}</h6>
                <h6 class="texto-h3">{{ livro().autoria }}</h6>
                <div class="d-flex justify-content-center">
                    <h6 class="preco">{{ livro().preco }}</h6>
                    <h6 class="text-muted ml-2"><del>12,00</del></h6>
                </div>
            </div>
        </section>

        <!-- Produto 1 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <!-- <div class="col-lg-2 col-md-4 col-sm-6 pb-1"> -->
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 imagem">
                    <img class="img-fluid w-100" src="alice.png" alt="">
                    <img [src]="livro().imagem" [alt]="livro().titulo">
                </div>

                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3 titulo">{{ livro().titulo }}</h6>
                    <h6 class="text-truncate mb-3 autoria">{{ livro().autoria }}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <!-- Produto 2 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <!-- <div class="col-lg-3 col-md-6 col-sm-12 pb-1"> -->
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="as-ondas.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <!-- Produto 3 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="ecos.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>


        <!-- Produto 4 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="fahrenheit.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <!-- Produto 5 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="recursao.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <!-- Produto 6 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="deserto-dos-tartaros.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <!-- Produto 7 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="medico-monstro.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <!-- Produto 8 -->
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="moby-dick.png" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                    <div class="d-flex justify-content-center">
                        <h6 class="mr-2">$123.00</h6> <!-- Adiciona margem à esquerda -->
                        <h6 class="text-muted"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>
                        Detalhes</a>
                    <a href="" class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>
                        Carrinho</a>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <a href="#" class="catalogo-link">Ver catálogo completo</a>
        </div>
    </div>
</div>

<!-- Products End -->