.icone-customizado {
  color: #D19C97;
  height: 50px;
  width: 50px;
}

.titulo-preto {
  color: black;
}

.texto-menor {
  margin-top: 5px;
}

.divs-facilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.divs-facilidades i {
  margin-bottom: 10px;
}

/* Ajustando as setas do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #b91e10; /* Cor das setas */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #D19C97; /* Cor das setas ao passar o mouse */
}

/* Exibir os cards como layout de flex em telas grandes */
@media (min-width: 992px) {
  /* Exibe os cards lado a lado */
  .d-flex {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .carousel {
    display: none; /* Oculta o carrossel */
  }

  .divs-facilidades {
    display: block !important; /* Exibe os cards */
  }
}

/* Exibir o carrossel em telas pequenas */
@media (max-width: 991px) {
  .d-flex {
    flex-direction: column !important;
  }

  .carousel {
    display: block !important; /* Exibe o carrossel */
  }

  /* Não esconder os cards, apenas ajustá-los para o carrossel */
  .divs-facilidades {
    display: block !important; /* Exibe os cards normalmente */
  }

  .divs-facilidades {
    display: none;
  }
}

.info {
  background-color: #f1eded;
  padding: 15px 30px;
}