
<!-- <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" /> -->

<section class="pb-4 mt-5">
    <!-- <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4 px-3"> -->
  <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Item 1 -->
        <div class="swiper-slide">
          <div class="divs-facilidades d-flex flex-column align-items-center text-center">
            <div><i class="bi bi-x-diamond fs-2 icone-customizado"></i></div>
            <div>
              <div class="mb-1 titulo-preto">Pague com PIX</div>
              <div class="texto-menor">Pague somente na hora da entrega</div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="swiper-slide">
          <div class="divs-facilidades d-flex flex-column align-items-center text-center">
            <div><i class="bi bi-calendar-check fs-3 icone-customizado"></i></div>
            <div>
              <div class="mb-1 titulo-preto">Rápido & Fácil</div>
              <div class="texto-menor">Reserve em alguns segundos, sem precisar de cadastro.</div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="swiper-slide">
          <div class="divs-facilidades d-flex flex-column align-items-center text-center">
            <div><i class="bi bi-book fs-2 icone-customizado"></i></div>
            <div>
              <div class="mb-1 titulo-preto">Livros novos & Usados</div>
              <div class="texto-menor">Sempre no melhor estado de conservação.</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Se desejar controles de navegação, adicione botões -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <button class="swiper-button-prev" type="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="swiper-button-next" type="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </div>
</section>