<section class="generos" [ngClass]="genero().id">
  <h3 class="texto-h3-prata">
    {{ genero().value }}
    <span 
      class="linha-destaque linha-destaque--pequena"
      [ngClass]="genero().id">
    </span>
  </h3>
  @if(genero().livros.length === 0) {
    <div class="texto-sem-livros">
      <img src="sem-livros.png" alt="Sem livros neste gênero">
      <p>Não há livros neste gênero ainda</p>
    </div>
  }
  <div class="livros-genero">
    @for(livro of genero().livros; track livro) {
      <app-livro [livro]="livro"></app-livro>
    }
  </div>
</section>

