.card {
    border-left-width: 5px; /* ou qualquer valor que você desejar */
}
.border-left-primary {
    border-left-color: #4e73df; /* cor para 'primary' */
}
.border-left-success {
    border-left-color: #1cc88a; /* cor para 'success' */
}
.border-left-info {
    border-left-color: #36b9cc; /* cor para 'info' */
}
.border-left-warning {
    border-left-color: #f6c23e; /* cor para 'warning' */
}

.text-xs {
    font-size: 0.75rem;  /* Tamanho ainda menor */
}

.icon-soft-gray {
    color: #D3D3D3;  /* Cinza mais suave */
}
