.navbar {
  border-bottom: 1px solid #ddd;
}

.navbar-toggler {
  border: none;
  outline: none;
}

/* .navbar-toggler-icon {
  border: none;
  outline: none;
  box-shadow: none;
} */

.navbar-custom {
  color: #D19C97 !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

/* .custom-search {
  font-size: 0.9rem;
} */

  .nav-link {
    color: #000; /* Cor original do texto */
    transition: color 0.3s ease; /* Efeito suave na transição */
  }

  .nav-link:hover {
    color: #D19C97; /* Cor desejada no hover */
  }
