<h2 class="text-center my-3 my-xl-5 custom-title">Boxes & Coleções</h2>

<div class="container row justify-content-center mx-auto g-4">

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="card">
      <img src="agua.jpg" alt="" class="d-none d-xl-block">
      <div class="card-header bg-black text-bg-dark">
        <p class="text-center card-text">
          Categoria
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="card">
      <img src="bela.jpg" alt="" class="d-none d-xl-block">
      <div class="card-header bg-transparent text-bg-light">
        <p class="text-center card-text">
          Categoria
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="card">
      <img src="estrela.jpg" alt="" class="d-none d-xl-block">
      <div class="card-header bg-black text-bg-dark">
        <p class="text-center card-text">
          Categoria
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="card">
      <img src="agua.jpg" alt="" class="d-none d-xl-block">
      <div class="card-header bg-transparent text-bg-light">
        <p class="text-center card-text">
          Categoria
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="card">
      <img src="bela.jpg" alt="" class="d-none d-xl-block">
      <div class="card-header bg-black text-bg-dark">
        <p class="text-center card-text">
          Categoria
        </p>
      </div>
    </div>
  </div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="card">
      <img src="estrela.jpg" alt="" class="d-none d-xl-block">
      <div class="card-header bg-transparent text-bg-light">
        <p class="text-center card-text">
          Categoria
        </p>
      </div>
    </div>
  </div>

</div>