.image-container {
  width: 100%;
  max-width: 150px;
  /* Tamanho máximo da imagem */
  margin: 0 auto;
  text-align: center;
}

.image-container img {
  width: 100%;
  /* A imagem vai se ajustar ao container */
  height: auto;
  /* Altura automática para manter proporção */
  border-radius: 50%;
  /* Tornar a imagem circular */
  object-fit: cover;
  /* Garantir que a imagem cubra bem o círculo */
}