
<!-- 
<div style="position: relative; display: inline-block; width: 100%;">
  <img src="banner2.png" alt="" style="width: 100%; height: 80%; object-fit: cover; margin: 20px 0px;"> -->
  <!-- Texto de promoção -->
  <!-- <div style="position: absolute; left: 50%; top: 30%; transform: translateX(-50%) translateY(-50%); color: white; font-size: 40px; font-weight: bold; text-transform: uppercase; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
    Promoção!
  </div> -->

  <!-- Texto de "Até 40% off" -->
  <!-- <div style="position: absolute; left: 50%; top: 40%; transform: translateX(-50%) translateY(-50%); color: white; font-size: 24px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
    Até 40% OFF
  </div>

</div> -->

<app-home></app-home>

<app-rodape></app-rodape>
<!-- <app-banner></app-banner> -->
<router-outlet />
