<main class="main-content mt-5">
  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" [routerLink]="['/home']">Home</a>
      <a class="breadcrumb-item" [routerLink]="['/catalogo']">Pages</a>
      <span class="breadcrumb-item active" aria-current="page">Livro</span>
    </nav>
  </div>
  <section id="product-detail" class="single-product py-5 no-padding-top">
    <div class="container">
      <div class="row g-5">
        <div class="col-md-7">
          <div class="row flex-column">
            <div class="col-md-12">
              <!-- product-large-slider -->
              <div class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                <div class="swiper-wrapper" id="swiper-wrapper-726ae513cb439b29" aria-live="off" style="transition-duration: 0ms;">
                  <div class="swiper-slide" style="width: 285px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 5">
                    <img src="fountain0.jpg" alt="product-large" class="img-fluid">
                  </div>
                  <div class="swiper-slide" style="width: 285px; opacity: 1; transform: translate3d(-285px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 5">
                    <img src="fountain0.jpg" alt="product-large" class="img-fluid">
                  </div>
                  <div class="swiper-slide swiper-slide-prev" style="width: 285px; opacity: 1; transform: translate3d(-570px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="3 / 5">
                    <img src="fountain0.jpg" alt="product-large" class="img-fluid">
                  </div>
                  <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 285px; opacity: 1; transform: translate3d(-855px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="4 / 5">
                    <img src="fountain0.jpg" alt="product-large" class="img-fluid">
                  </div>
                  <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 5" style="width: 285px; opacity: 0; transform: translate3d(-1140px, 0px, 0px); transition-duration: 0ms;">
                    <img src="fountain0.jpg" alt="product-large" class="img-fluid">
                  </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
              <!-- / product-large-slider -->
            </div>
            <div class="col-md-12">
              <!-- product-thumbnail-slider -->
              <div class="swiper product-thumbnail-slider swiper-initialized swiper-horizontal swiper-backface-hidden swiper-thumbs">
                <div class="swiper-wrapper" id="swiper-wrapper-4f636f10ca107aee88" aria-live="off" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                  <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 71.25px;" role="group" aria-label="1 / 5">
                    <img src="fountain1.jpg" alt="" class="thumb-image img-fluid">
                  </div>
                  <div class="swiper-slide swiper-slide-visible swiper-slide-next" style="width: 71.25px;" role="group" aria-label="2 / 5">
                    <img src="fountain2.jpg" alt="" class="thumb-image img-fluid">
                  </div>
                  <div class="swiper-slide swiper-slide-visible" style="width: 71.25px;" role="group" aria-label="3 / 5">
                    <img src="fountain3.jpg" alt="" class="thumb-image img-fluid">
                  </div>
                  <div class="swiper-slide swiper-slide-visible swiper-slide-thumb-active" style="width: 71.25px;" role="group" aria-label="4 / 5">
                    <img src="fountain4.jpg" alt="" class="thumb-image img-fluid">
                  </div>
                  <div class="swiper-slide" role="group" aria-label="5 / 5" style="width: 71.25px;">
                    <img src="fountain0.jpg" alt="" class="thumb-image img-fluid">
                  </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
              <!-- / product-thumbnail-slider -->
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-info mt-4">
            <div class="element-header">
              <h2 itemprop="name" class="product-title text-uppercase text-black">The Fountainhead</h2>
              <div class="rating-container d-flex align-items-center">
                <div class="rating" data-rating="1" onclick="rate(1)">
                  <svg width="32" height="32">
                    <use xlink:href="#star-solid"></use>
                  </svg>
                </div>
                <div class="rating" data-rating="2" onclick="rate(1)">
                  <svg width="32" height="32">
                    <use xlink:href="#star-solid"></use>
                  </svg>
                </div>
                <div class="rating" data-rating="3" onclick="rate(1)">
                  <svg width="32" height="32">
                    <use xlink:href="#star-solid"></use>
                  </svg>
                </div>
                <div class="rating" data-rating="4" onclick="rate(1)">
                  <svg width="32" height="32">
                    <use xlink:href="#star-outline"></use>
                  </svg>
                </div>
                <div class="rating" data-rating="5" onclick="rate(1)">
                  <svg width="32" height="32">
                    <use xlink:href="#star-outline"></use>
                  </svg>
                </div>
                <span class="rating-count">(3.5)</span>
              </div>
            </div>
            <div class="product-price my-3">
              <span class="fs-2 text-black">R$5.00</span>
              <del>R$54.00</del>
            </div>
            <p>Tristique ullamcorper nunc egestas non. Justo, cum feugiat imperdiet nulla molestie ac vulputate scelerisque amet. Bibendum adipiscing platea blandit sit sed quam semper rhoncus. Diam ultrices maecenas consequat eu tortor. Orci, cras lectus mauris, cras egestas quam venenatis neque.</p>
            <div class="color-product-options mt-4">
              <div class="color-toggle" data-option-index="0">
                <div class="item-title">Color: <span>Red</span></div>
                <div class="color-item" data-val="Red" title="Red">
                  <span class="color-inner" style="background-color: #b61212"></span>
                </div>
                <div class="color-item" data-val="Beige" title="Beige">
                  <span class="color-inner" style="background-color: #df6f3b"></span>
                </div>
                <div class="color-item" data-val="YellowGreen" title="YellowGreen">
                  <span class="color-inner" style="background-color: #c97575"></span>
                </div>
                <div class="color-item" data-val="Beige" title="Beige">
                  <span class="color-inner" style="background-color: #d466bc"></span>
                </div>
                <div class="color-item" data-val="Beige" title="Beige">
                  <span class="color-inner" style="background-color: #63311e"></span>
                </div>
              </div>
            </div>
            <div class="swatch d-flex flex-wrap option-1 mt-4" data-option-index="1">
              <div class="item-title">Número de Páginas: <span>704</span></div>
              <div data-value="S" class="swatch-element">
                <input class="swatch-input hide" id="small-size" data-var="s" type="radio" name="option-1" value="S">
                <label class="swatch-label square-only" for="small-size">S</label>
              </div>
              <div data-value="M" class="swatch-element">
                <input class="swatch-input hide" id="medium-size" data-var="m" type="radio" name="option-1" value="M">
                <label class="swatch-label square" for="medium-size">M</label>
              </div>
              <div data-value="L" class="swatch-element">
                <input class="swatch-input hide" id="large-size" data-var="l" type="radio" name="option-1" value="L">
                <label class="swatch-label square" for="large-size">L</label>
              </div>
            </div>
            <div class="product-action mt-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="quantity">
                  <input class="quantity-input" type="number" min="1" max="100" value="1">
                </div>
                <div class="add-to-cart">
                  <button class="btn btn-primary">Reservar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<!-- <img src="fountain0.jpg" alt="" width="250px">
<img src="fountain1.jpg" alt="" width="310px">
<img src="fountain2.jpg" alt="" width="310px">
<img src="fountain3.jpg" alt="" width="310px">
<img src="fountain4.jpg" alt="" width="310px"> -->