<app-cabecalho></app-cabecalho>

<main class="main-content mt-5">
  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item navegacao" [routerLink]="['/home']">Início</a>
      <a class="breadcrumb-item navegacao" [routerLink]="['/catalogo']">Catálogo</a>
      <span class="breadcrumb-item active" aria-current="page">Detalhes</span>
    </nav>
  </div>
  <section id="product-detail" class="single-product py-5 px-3 px-sm-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-md-5 col-12">
          <div class="row flex-column">
            <div class="col-md-12">
              <!-- Mosaico de Imagens - Grid para telas grandes, Slider para telas pequenas -->
              <div class="image-gallery">
                <!-- Carousel (aparece apenas em telas pequenas) -->
                <div id="carouselImages" class="carousel slide d-block d-sm-none" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="fountain1.jpg" alt="Imagem 1" class="thumb-image img-fluid">
                    </div>
                    <div class="carousel-item">
                      <img src="fountain2.jpg" alt="Imagem 2" class="thumb-image img-fluid">
                    </div>
                    <div class="carousel-item">
                      <img src="fountain3.jpg" alt="Imagem 3" class="thumb-image img-fluid">
                    </div>
                    <div class="carousel-item">
                      <img src="fountain4.jpg" alt="Imagem 4" class="thumb-image img-fluid">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                
                <!-- Grid (aparece em telas médias e grandes) -->
                <div class="image-grid d-none d-sm-grid">
                  <div class="image-item">
                    <img src="fountain1.jpg" alt="Imagem 1" class="thumb-image img-fluid">
                  </div>
                  <div class="image-item">
                    <img src="fountain2.jpg" alt="Imagem 2" class="thumb-image img-fluid">
                  </div>
                  <div class="image-item">
                    <img src="fountain3.jpg" alt="Imagem 3" class="thumb-image img-fluid">
                  </div>
                  <div class="image-item">
                    <img src="fountain4.jpg" alt="Imagem 4" class="thumb-image img-fluid">
                  </div>
                </div>
              </div>
              <!-- / Mosaico de Imagens -->
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12">
          <div class="product-info mt-4">
            <div class="element-header">
              <h2 itemprop="name" class="product-title text-uppercase text-black">The Fountainhead</h2>
              <h5>Ayn Rand</h5>
            </div>
            <div class="product-price my-3">
              <span class="fs-2 text-black">R$15.00</span>
              <del>R$54.00</del>
            </div>
            <div class="item-title text-black mb-4">
              <span>Livro com marcas de uso e páginas amareladas. Não possui grifos ou anotações. Idioma: Inglês. Número de páginas: 704. </span>
            </div>
            <p style="text-align: justify"> Neste polêmico romance, a célebre escritora Ayn Rand narra a história da luta de Roark, um homem de integridade inabalável, que enfrenta obstáculos como o desemprego,
              a ruína financeira e a humilhação pública, porém nunca abre mão de seus valores. Apesar da pressão social, profissional e financeira para que se adapte aos modelos estabelecidos,
              Roark luta para combater três tipos de indivíduos: os tradicionalistas, que, presos ao passado, não conseguem ver as inovações propostas pelo jovem visionário; os conformistas, que,
              incapazes de atender à própria vontade, aceitam passivamente as regras e os valores definidos por outras pessoas; e os parasitas, que rejeitam o herói autoconfiante, que vive para si próprio e não se deixa explorar por ninguém.
            </p>
            <div class="product-action mt-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="add-to-cart">
                  <button class="btn btn-primary disabled">Reservado</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-rodape></app-rodape>
