<!-- <section class="testimonials mt-5 py-5 margin-large">
    <div class="section-header text-center">
      <h2 class="section-title text-uppercase"> Customer Reviews </h2>
    </div>
    <div class="swiper testimonial-swiper overflow-hidden swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
      <div class="swiper-wrapper d-flex" style="cursor: grab; transition-duration: 0ms; transform: translate3d(-628.617px, 0px, 0px);" id="swiper-wrapper-dc210bd03770a2df4" aria-live="polite"><div class="swiper-slide" role="group" aria-label="1 / 4" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(100deg) scale(1); z-index: -1;">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“More than expected crazy soft, flexible and best fitted white simple denim shirt.”</p>
              <div class="review-title mt-3 text-uppercase text-center ">- casual way</div>
            </blockquote>
          </div>
        <div class="swiper-slide-shadow-left" style="opacity: 2; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-visible swiper-slide-prev" role="group" aria-label="2 / 4" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -100.01px) rotateX(0deg) rotateY(50.0049deg) scale(1); z-index: 0;">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Best fitted white denim shirt more than expected crazy soft, flexible</p>
              <div class="review-title mt-3 text-uppercase text-center ">- uptop</div>
            </blockquote>
          </div>
        <div class="swiper-slide-shadow-left" style="opacity: 1.0001; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group" aria-label="3 / 4" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -0.0195814px) rotateX(0deg) rotateY(0.00979071deg) scale(1); z-index: 1;">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Best fitted white denim shirt more white denim than expected flexible crazy soft.”</p>
              <div class="review-title mt-3 text-uppercase text-center ">- Denim craze</div>
            </blockquote>
          </div>
        <div class="swiper-slide-shadow-left" style="opacity: 0.000195814; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div><div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="4 / 4" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -99.9706px) rotateX(0deg) rotateY(-49.9853deg) scale(1); z-index: 0;">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Best fitted white denim shirt more than expected crazy soft, flexible</p>
              <div class="review-title mt-3 text-uppercase text-center ">- uptop</div>
            </blockquote>
          </div>
        <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0.999706; transition-duration: 0ms;"></div></div>
        
        
        
        
      </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
  </section>

   -->