/* Customização para ajustar o layout */
.login-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Pequeno espaçamento em volta */
}

.login-box {
  flex: 1; /* Garantir que o formulário ocupe metade do espaço */
  max-width: 600px; /* Largura máxima para o formulário */
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: none;
}

.login-image {
  flex: 1;
  max-width: 30%;   /* Ajusta a largura da imagem para não ocupar o espaço inteiro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Adicionando um efeito de transição suave entre o formulário e a imagem */
.login-container {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
  border-radius: 8px;
}

/* Customização para o botão */
.btn-primary {
  background-color: #4B0082;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #6A0DAD;
}

.btn-primary:focus, .btn-primary:active {
  box-shadow: none;
}

.voltar-home {
  color: #9b45d8;
  text-decoration: none;
}

.voltar-home:hover {
  color: #6A0DAD;
}
