/* Customização para ajustar o layout */
.login-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-box {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-image {
  height: 100%; /* Adiciona 100% de altura para ocupar toda a altura do container */
  width: 50%;   /* Garantir que tenha a mesma largura que a coluna da esquerda */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 500px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  object-fit: cover; /* Garantir que a imagem cubra o container sem distorção */
}

.error-message {
  /* background-color: #ff1212 !important; */
  color: #880000 !important;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* font-weight: bold; */
  text-align: center;
}
